@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-primary: #0075a7;
  --color-secondary: #e5097f;
  --color-text-dark: #282828;
  --color-text-light: #878787;
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Force light mode as the target site is light */
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Leaflet custom marker styles */
.custom-marker {
  background: transparent !important;
  border: none !important;
}
